<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>

    <meta charset="UTF-8">
    <title>Перевозка грузов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            background-color: powderblue;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<blockquote class="blockquote text-center"><h1>Перевозки грузов</h1></blockquote>

<div class="row">
    <div class="col-md-8 offset-md-4">
        <h4>Поиск груза по любому критерию:</h4>
        <form th:action="@{/}">
            <input type="text" name="keyword" id="keyword" size="70" th:value="${keyword}" required/>
            <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
            <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear"
                   onclick="clearSearch()"/>
        </form>
    </div>
</div>

<h4>Сортировка</h4>
<a th:href="@{'/sorted/asc'}">Сортировать по дате отправки (по возрастанию)</a> |
<a th:href="@{'/sorted/desc'}">Сортировать по дате отправки (по убыванию)</a>

<table id="1" class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">ID груза</th>
        <th scope="col">Наименование груза</th>
        <th scope="col">Содержимое груза</th>
        <th scope="col">Город отправки</th>
        <th scope="col">Дата отправки</th>
        <th scope="col">Город получения</th>
        <th scope="col">Дата получения</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cargo: ${listCargoes}">
        <th scope="row" class="text-black" th:text="${cargo.id}">ID груза отсутствует</th>
        <th scope="row" class="text-black" th:text="${cargo.name}">Наименование груза отсутствует</th>
        <th scope="row" class="text-black" th:text="${cargo.content}">Содержимое груза отсутствует</th>
        <th scope="row" class="text-black" th:text="${cargo.sendingCity}">Город отправки отсутствует</th>
        <th scope="row" class="text-black" th:text="${cargo.sendingDate}">Дата отправки отсутствует</th>
        <th scope="row" class="text-black" th:text="${cargo.receiptCity}">Город получения отсутствует</th>
        <th scope="row" class="text-black" th:text="${cargo.receiptDate}">Дата получения отсутствует</th>
        <td>
            <a th:href="@{'/edit/'+${cargo.id}}"><button type="button" class="btn btn-info">Редактировать</button></a>
            <a th:href="@{'/delete/'+${cargo.id}}"><button type="button" class="btn btn-danger">Удалить</button></a>
        </td>
    </tr>
    </tbody>
</table>

<p class="text-black">
    <script type="text/javascript">
        function getRowsColumn() {
            let table = document.getElementById('1')
            let tBody = table.querySelector('tbody')
            const count = tBody.querySelectorAll('tr').length;
            document.write('Количество записей о грузах в таблице: ' + count)
        }
        getRowsColumn();
    </script>
</p>

<p class="text-black">
    <script type="text/javascript">

        function getCargoesPerDay() {
            let table = document.getElementById('1')
            let tBody = table.querySelector('tbody')
            const rows = tBody.querySelectorAll('tr')

            let cargoesByDay = {};

            rows.forEach(row => {
                let date = row.cells[2].innerText;

                if (cargoesByDay[date]) {
                    cargoesByDay[date] += 1;
                } else {
                    cargoesByDay[date] = 1;
                }
            });

            document.write('Количество получений груза в день: ' + JSON.stringify(cargoesByDay, null, 2))
        }
        getCargoesPerDay();

    </script>
</p>

<blockquote class="blockquote text-center">
    <h4>Гистограмма количества грузов по дням</h4>
    <canvas id="registrationChart" style="width: 80%; height: 500px; margin:auto"></canvas>
</blockquote>

<script type="text/javascript">
    function getCargoesData() {
        const table = document.getElementById('1');
        const rows = table.querySelectorAll('tbody tr');

        const registrationDates = {};

        rows.forEach(row => {
            const dateCell = row.cells[6].innerText;

            if (registrationDates[dateCell]) {
                registrationDates[dateCell] += 1;
            } else {
                registrationDates[dateCell] = 1;
            }
        });

        return registrationDates;
    }

    function renderChart() {
        const cargoesData = getCargoesData();
        const dates = Object.keys(cargoesData);
        const counts = Object.values(cargoesData);

        const ctx = document.getElementById('registrationChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Количество записей',
                    data: counts,
                    backgroundColor: 'rgba(255, 0, 100, 0.5)',
                    borderColor: 'rgba(0, 0, 0, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    document.addEventListener('DOMContentLoaded', renderChart);
</script>

<blockquote class="blockquote text-center">
    <a href="/new">
        <button type="button" class="btn btn-primary" data-togge="button" aria-pressed="false" autocomplete="off">
            Добавить запись
        </button>
    </a>
</blockquote>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>

</body>
</html>